/* Write your code here. */

.emoji-card {
  width: 23%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button {
  background-color: #ffffff33;
  border-radius: 20px;
  border: 3px solid #ffffff30;
  cursor: pointer;
  outline: none;
  height: 200px;
  width: 90%;
}

.emoji {
  width: 100px;
}

@media screen and (max-width: 776px) {
  .emoji-card {
    width: 30%;
  }
  .button {
    width: 90%;
    height: 90px;
  }
  .emoji {
    width: 35px;
  }
}
